<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Theme Made By www.w3schools.com - No Copyright -->
    <title>PSYSCI 70</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <!-- Navbar -->

    <!-- Image and text -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">
        <img src="images/mountains.jpg" width="30" height="30" alt="" />
        PSYSCI 70
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/"
              >Home <span class="sr-only">(current)</span></a
            >
          </li>

          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Assignments
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/assign1">Assignment 1</a>
              <a class="dropdown-item" href="/assign2">Assignment 2</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About Me</a>
          </li>
        </ul>
      </div>
    </nav>

    <ReactFullpage />

    <!-- Third Container (Grid) -->
    <div class="container-fluid bg-1 text-center">
      <div class="row">
        <div class="col-sm-4">
          <p>
            Our assignment this week was to play around with the laser cutter
            and vinyl cutter and to make a cardboard press-fit kit using the
            vinyl cutter. I spent the majority of my time working with the vinyl
            cutter because I have worked a lot in Adobe Illustrator and was
            really excited by the idea of being help to turn illustrator files
            into laptop stickers
          </p>
          <img
            src="/images/vinyl.jpeg"
            class="img-responsive margin"
            style="width:100%"
            alt="Image"
          />
          <p>
            Before and in class we learned how to use Fusion 360. I've used some
            other 3D graphics programs and I'm not sure I like this one as much,
            it doesn't feel very user friendly. I really like 123d Design for
            quick 3D mock-ups like we were doing. None the less I played around
            in fusion 360 and made some fun shapes
          </p>
          <img
            src="/images/fusion1.png"
            class="img-responsive margin"
            style="width:100%"
            alt="Image"
          />
          <p>
            I then spent (a very very very short amount of time) trying to
            replicate some of the press fit kit items we had build in class,
            again using fusion360. My initial print did not work, and I'm going
            to work more this week to get more comfortable with fusion 360 and
            the laser cutter. I will add more to this section as my exploration
            continues :)
          </p>
          <img
            src="/images/fusion2.png"
            class="img-responsive margin"
            style="width:100%"
            alt="Image"
          />
          <img
            src="/images/laser.jpeg"
            class="img-responsive margin"
            style="width:100%"
            alt="Image"
          />
          <img
            src="/images/cardboard.jpeg"
            class="img-responsive margin"
            style="width:100%"
            alt="Image"
          />
          <p>
            P.S. A newer and pretteir website is in the works and ~COMING SOON~.
          </p>
        </div>
      </div>
    </div>

    <script
      src="https://unpkg.com/react@16/umd/react.development.js"
      crossorigin
    ></script>
    <script
      src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"
      crossorigin
    ></script>
    <!--Load React components -->
    <script src="scripts/fullpage.js"></script>
  </body>
</html>
