<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Theme Made By www.w3schools.com - No Copyright -->
    <title>PSYSCI 70</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <!-- Navbar -->

    <!-- Image and text -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">
        <img src="images/mountains.jpg" width="30" height="30" alt="" />
        PSYSCI 70
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/"
              >Home <span class="sr-only">(current)</span></a
            >
          </li>

          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Assignments
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/assign1">Assignment 1</a>
              <a class="dropdown-item" href="/assign2">Assignment 2</a>
              <a class="dropdown-item" href="/assign3">Assignment 3</a>
              <a class="dropdown-item" href="/assign4">Assignment 4</a>
              <a class="dropdown-item" href="/assign5">Assignment 5</a>
              <a class="dropdown-item" href="/assign6">Assignment 6</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About Me</a>
          </li>
        </ul>
      </div>
    </nav>

    <ReactFullpage />

    <!-- Third Container (Grid) -->
    <div class="container-fluid bg-1 text-center">
      <div class="row">
        <div class="col-sm-4">
          <p>
            Our assignment this week was to create something that moves (with
            joints -- although I got special permission to sort of ignore that
            requirement). I was really interested in perhaps modeling some of
            the sculptures of Joshua Allen Harris. An artist who was inspired by
            all the trash on New York city streets. Joshua Allen Harris used
            trash bags and wind from the New York subway to create whimsical art
            pieces.
          </p>
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/Rshn5zIMJ4s"
            frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
          <p>
            I decided I wanted to try to make a camel as that is my favorite
            animal. I started off by doing some modeling with paper as this was
            faster than working with the trash bags and gave me some idea about
            scale.
          </p>
          <img
            src="/images/papermodel.png"
            class="img-responsive margin"
            style="width:100%"
            alt="Image"
          />
          <p>
            I then moved to the trash bags. This material ended up being a lot
            more difficult to work with than I anticipated. It actually took a
            surprising number of hours to arrive at the camel you see today.
            Here is a picture of me working as Peter chose to send home the
            wrong girl last night.
          </p>
          <img
            src="/images/bachelor.jpeg"
            class="img-responsive margin"
            style="width:100%"
            alt="Image"
          />
          <p>
            Once I finished I had a LOT of trouble either finding a powerful
            enough fan or adjusting the cut of the legs and the attachment to
            the fan to actually get the camel to inflate. This video below shows
            where I'm at right now -- the camel partially inflates but this fan
            is pretty weak. I tried a couple different leg hole configurations
            to try to help it inflate and I found that a diagonal cut was best.
          </p>
          <img
            src="/images/diagCUT.png"
            class="img-responsive margin"
            style="width:100%"
            alt="Image"
          />
          <p>
            This is the current state of my trash bag camel.
          </p>
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/Nf89KYEqkFw"
            frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
          <p>
            UPDATE -- WE REALIZED THE FAN NEEDED TO BE OFF THE FLOOR TO BLOW UP
            THE CAMEL!!! IT WORKS!!!
          </p>
          <img
            src="/images/workingcamel.gif"
            class="img-responsive margin"
            style="width:100%"
            alt="Image"
          />
        </div>
      </div>
    </div>

    <script
      src="https://unpkg.com/react@16/umd/react.development.js"
      crossorigin
    ></script>
    <script
      src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"
      crossorigin
    ></script>
    <!--Load React components -->
    <script src="scripts/fullpage.js"></script>
  </body>
</html>
