<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Theme Made By www.w3schools.com - No Copyright -->
    <title>PSYSCI 70</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <!-- Navbar -->

    <!-- Image and text -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">
        <img src="images/mountains.jpg" width="30" height="30" alt="" />
        PSYSCI 70
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/"
              >Home <span class="sr-only">(current)</span></a
            >
          </li>

          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Assignments
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/assign1">Assignment 1</a>
              <a class="dropdown-item" href="/assign2">Assignment 2</a>
              <a class="dropdown-item" href="/assign3">Assignment 3</a>
              <a class="dropdown-item" href="/assign4">Assignment 4</a>
              <a class="dropdown-item" href="/assign5">Assignment 5</a>
              <a class="dropdown-item" href="/assign6">Assignment 6</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About Me</a>
          </li>
        </ul>
      </div>
    </nav>

    <ReactFullpage />

    <!-- Third Container (Grid) -->
    <div class="container-fluid bg-1 text-center">
      <div class="row">
        <div class="col-sm-4">
          <p>
            Our assignment this week was to create something with arduino. I was
            particularly excited to get to do some cool kind of light display.
            After a bit of research on what kinds of projects might be possible,
            I found these shadow boxes:
          </p>
          <img
            src="/images/shadhowboxexample1.jpeg"
            class="img-responsive margin"
            style="width:100%"
            alt="Image"
          />
          <p>
            Source:
            https://www.kidspot.com.au/things-to-do/activity-articles/make-a-shadow-puppet-theatre/news-story/d9ed634b2e68caea28c52c263771a400
          </p>
          <img
            src="/images/shadhowboxexample2.jpeg"
            class="img-responsive margin"
            style="width:100%"
            alt="Image"
          />
          <p>
            Source:
            https://jydisplayandsigns.com.au/lightbox/Round-Light-Boxes/Double-Sided/RBOXR3D
          </p>
          <p>
            After some additional research I found this tutorial online about
            how to make a shadow light box. I didn't follow this tutorial
            exaxtly, rather used the steps he did for inspiration for my process
            and project.
          </p>
          <img
            src="/images/tutorial.png"
            class="img-responsive margin"
            style="width:100%"
            alt="Image"
          />
          <p>
            Source: https://www.instructables.com/id/LED-Shadow-Box/
          </p>
          <p>
            I decided I wanted to make a shadow light box with some kind of
            heart design. I redrew and adapted a heart image I found online to
            serve my purposes.
          </p>
          <img
            src="/images/heartai.png"
            class="img-responsive margin"
            style="width:100%"
            alt="Image"
          />
          <p>
            I then used the laser cutter to cut out this heart design as well as
            a backing heart of equal size to be the background for the shadow
            box.
          </p>
          <img
            src="/images/heartcardboard.png"
            class="img-responsive margin"
            style="width:100%"
            alt="Image"
          />
          <p>
            I then decided instead of just making an ON-OFF light box I wanted
            to make one which was sensitive to light -- that way my lightbox
            could detect when the lights were off and provide ~mood lighting~
            when needed. So now its time to move to coding (thank goodness). To
            do this light detection I used a phototransistor. First, I just
            wanted to get the phototransitor to work and see how it detected
            light. I found the following circuit off a paper on pubmed. I used
            this circuit and then wrote my own program which would just report
            the reading of the phototransitor to the computer console.
          </p>
          <p>The circuit just to get the photo transitor working</p>
          <img
            src="/images/transistoronly.gif"
            class="img-responsive margin"
            style="width:100%"
            alt="Image"
          />
          <p>The program to just print the results of the photo transistor</p>
          <a href="/code/phototransistorrreading.ino" download>Download Code</a>
          <p>
            And the corresponding circuit adapted from
            https://www.researchgate.net/figure/The-electronic-circuit-connecting-the-phototransistor-and-an-IR-LED-to-an-Arduino-Uno_fig1_321301283
          </p>
          <img
            src="/images/transistoronlycir.png"
            class="img-responsive margin"
            style="width:100%"
            alt="Image"
          />
          <p>
            Next, I wanted to just get the LED strip working on its own. I
            unplugged the circuit from the phototransitior and implemented on
            for the LED strip. I then ran the LED strip test program and yay it
            worked!
          </p>
          <img
            src="/images/ledstriponly.gif"
            class="img-responsive margin"
            style="width:100%"
            alt="Image"
          />
          <p>
            The test program for the LED strip
          </p>
          <a href="/code/strandtest.ino" download>Download Code</a>
          <img
            src="/images/LEDSTRIP.jpg"
            class="img-responsive margin"
            style="width:100%"
            alt="Image"
          />
          <p>
            Source :
            https://www.tweaking4all.com/hardware/arduino/arduino-ws2812-led/
            This website has some really awesome info for understanding LED
            strips as well.
          </p>
          <p>
            Finally, I put the two together. I adapted the LED test code a bit
            to make a cool animation and voila!
          </p>
          <p>The final circuit</p>
          <img
            src="/images/fullcircuit.png"
            class="img-responsive margin"
            style="width:100%"
            alt="Image"
          />
          <a href="/code/HeartProgram.ino" download>Download Code</a>
          <img
            src="/images/workingstrip.gif"
            class="img-responsive margin"
            style="width:100%"
            alt="Image"
          />
          <p>
            the last step was just to glue everything together and color it!
          </p>
          <img
            src="/images/gluing1.png"
            class="img-responsive margin"
            style="width:100%"
            alt="Image"
          />
          <p>
            I put a little separater in between the faces to have something to
            glue to and to get the shadow box effect
          </p>
          <img
            src="/images/shadowpad.png"
            class="img-responsive margin"
            style="width:100%"
            alt="Image"
          />
          <img
            src="/images/gluing2.png"
            class="img-responsive margin"
            style="width:100%"
            alt="Image"
          />
          <img
            src="/images/finalheartreshoot.gif"
            class="img-responsive margin"
            style="width:100%"
            alt="Image"
          />
        </div>
      </div>
    </div>

    <script
      src="https://unpkg.com/react@16/umd/react.development.js"
      crossorigin
    ></script>
    <script
      src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"
      crossorigin
    ></script>
    <!--Load React components -->
    <script src="scripts/fullpage.js"></script>
  </body>
</html>
