<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Theme Made By www.w3schools.com - No Copyright -->
    <title>PSYSCI 70</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <!-- Navbar -->

    <!-- Image and text -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">
        <img src="images/mountains.jpg" width="30" height="30" alt="" />
        PSYSCI 70
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/"
              >Home <span class="sr-only">(current)</span></a
            >
          </li>

          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Assignments
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/assign1">Assignment 1</a>
              <a class="dropdown-item" href="/assign2">Assignment 2</a>
              <a class="dropdown-item" href="/assign3">Assignment 3</a>
              <a class="dropdown-item" href="/assign4">Assignment 4</a>
              <a class="dropdown-item" href="/assign5">Assignment 5</a>
              <a class="dropdown-item" href="/assign6">Assignment 6</a>
              <a class="dropdown-item" href="/assign7">Assignment 7</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About Me</a>
          </li>
        </ul>
      </div>
    </nav>

    <ReactFullpage />

    <!-- Third Container (Grid) -->
    <div class="container-fluid bg-1 text-center">
      <div class="row">
        <div class="col-sm-4">
          <h2>INPUT SENSORS</h2>
          <p>
            Our assignment this week was to make a capacitive senor using copper
            and then to use input senors. I played around with the capacitive
            sensors a bit in class. I ended up working with Abraham and Alex to
            make a mini three note keyboard so we could play the begining of
            darth vadar's entrance. After playing around with the capacitive
            sensors for a while, I realized that an easy sensor to make would be
            a distance sensor so that's exactly what I did.
          </p>
          <p>Circuit for distance sensor</p>
          <img
            src="/images/distancecir.png"
            class="img-responsive margin"
            style="width:100%"
            alt="Image"
          />
          <p>
            Code:
          </p>
          <a href="/code/CapacitiveSensorWorking.ino" download>Download Code</a>
          <p>
            Right now, as you can see in the image below, the sensor is not very
            acurrate, I just based it off of some crude measurements. But i
            think it is a cool proof of concept and uses the fact that you are
            in fact able to make a distance sensor in this way.
          </p>
          <img
            src="/images/finalcap.gif"
            class="img-responsive margin"
            style="width:100%"
            alt="Image"
          />
          <p>
            Next, since I already implemented some advanced stuff with a
            transistor last week, I decided to work with a temperature sensor. I
            just hooked it up and had it print out the results. I'm still
            thinking of something more fun to do with it.
          </p>
          <p>circuit</p>
          <img
            src="/images/tempcir.png"
            class="img-responsive margin"
            style="width:100%"
            alt="Image"
          />
          <p>CODE</p>
          <a href="/code/tempworking.ino" download>Download Code</a>
          <p>
            Source:
            https://www.bc-robotics.com/tutorials/using-a-tmp36-temperature-sensor-with-arduino/
          </p>
          <img
            src="/images/tempworking.gif"
            class="img-responsive margin"
            style="width:100%"
            alt="Image"
          />
        </div>
      </div>
    </div>

    <script
      src="https://unpkg.com/react@16/umd/react.development.js"
      crossorigin
    ></script>
    <script
      src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"
      crossorigin
    ></script>
    <!--Load React components -->
    <script src="scripts/fullpage.js"></script>
  </body>
</html>
