<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Theme Made By www.w3schools.com - No Copyright -->
    <title>PSYSCI 70</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <!-- Navbar -->

    <!-- Image and text -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">
        <img src="images/mountains.jpg" width="30" height="30" alt="" />
        PSYSCI 70
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/"
              >Home <span class="sr-only">(current)</span></a
            >
          </li>

          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Assignments
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/assign1">Assignment 1</a>
              <a class="dropdown-item" href="/assign2">Assignment 2</a>
              <a class="dropdown-item" href="/assign3">Assignment 3</a>
              <a class="dropdown-item" href="/assign4">Assignment 4</a>
              <a class="dropdown-item" href="/assign5">Assignment 5</a>
              <a class="dropdown-item" href="/assign6">Assignment 6</a>
              <a class="dropdown-item" href="/assign7">Assignment 7</a>
              <a class="dropdown-item" href="/assign8">Assignment 8</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About Me</a>
          </li>
        </ul>
      </div>
    </nav>

    <ReactFullpage />

    <!-- First Container -->
    <div class="container-fluid bg-1 text-center">
      <h3>FINAL PROJECT</h3>
    </div>

    <!-- Second Container -->
    <div class="container-fluid bg-2 text-center">
      <h3 class="margin">Digesting the News</h3>
      <p>
        For my final project I am going to create a sculpture which responds to
        the current news of the day and adjusts itself based on the given
        information.
      </p>
      <h4>Brainstorming</h4>
      <p>
        To start off I wanted to think a little about what kinds of things were
        rapidly changing in this environment as well as what pieces of news I
        would be most interestested in reflecting in the artwork. While there
        are many possible pieces I'd like to include I settled on three things
        to start -- money, food, and medical supplies. I decided to start with
        money. The stock market is EXTREAMLY volitile right now, which I think
        makes it a great subject for this type of responsive artwork. Thus, the
        first piece I've decided to create is a piece that responds to daily
        information about the stock market. (I could of course make this hourly
        as well but I deicded generally to work with the idea of the sculpture
        changing once at noon every day -- I can adjust this later throughout
        the project if necessary).
      </p>
      <p>
        After drawing up a few different designs I decided one I liked is an
        accordian crumpling of a bill. I could later exapnd this to mutilple
        billls and sort of use the response as a bar graph (with the strech size
        of the bill being the maximum size on the bar.) For now I am working
        with a $1 bill in case I break it... but I'd like to use a fake $100
        dollar bill if its possible to get one of these days.
      </p>
      <h4>Video of Accordian Bill</h4>
      <img
        src="/images/accorvideo.gif"
        class="img-responsive margin"
        style="width:100%"
        alt="Image"
      />
      <h4>Circuit</h4>
      <img
        src="/images/moneycir.jpeg"
        class="img-responsive margin"
        style="width:100%"
        alt="Image"
      />
      <h4>Code</h4>
      <a href="/code/money.ino" download>Download Code</a>
      <p>
        Sourced and adjusted from
        https://www.instructables.com/id/Arduino-Servo-Motors/
      </p>
    </div>

    <script
      src="https://unpkg.com/react@16/umd/react.development.js"
      crossorigin
    ></script>
    <script
      src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"
      crossorigin
    ></script>
    <!--Load React components -->
    <script src="scripts/fullpage.js"></script>
  </body>
</html>
