<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Theme Made By www.w3schools.com - No Copyright -->
    <title>PSYSCI 70</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <!-- Navbar -->

    <!-- Image and text -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">
        <img src="images/mountains.jpg" width="30" height="30" alt="" />
        PSYSCI 70
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/"
              >Home <span class="sr-only">(current)</span></a
            >
          </li>

          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Assignments
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/assign1">Assignment 1</a>
              <a class="dropdown-item" href="/assign2">Assignment 2</a>
              <a class="dropdown-item" href="/assign3">Assignment 3</a>
              <a class="dropdown-item" href="/assign4">Assignment 4</a>
              <a class="dropdown-item" href="/assign5">Assignment 5</a>
              <a class="dropdown-item" href="/assign6">Assignment 6</a>
              <a class="dropdown-item" href="/assign7">Assignment 7</a>
              <a class="dropdown-item" href="/assign8">Assignment 8</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About Me</a>
          </li>
        </ul>
      </div>
    </nav>

    <ReactFullpage />

    <!-- First Container -->
    <div class="container-fluid bg-1 text-center">
      <h3>FINAL PROJECT</h3>
    </div>

    <!-- Second Container -->
    <div class="container-fluid bg-2 text-center">
      <h3 class="margin">Bouquet of Currency</h3>
      <p>
        For my final project I created a series of responsive "flowers" of
        currency which open and close relative to the strength of that currency.
      </p>
      <h4>Initial Brainstorming</h4>
      <p>
        At the start of this project, I wasn't quite sure what I wanted to do. I
        knew I wanted to design a sculpture that responded to something current
        which changed rapidly. To start off I wanted to think a little about
        what kinds of things were rapidly changing in this environment as well
        as what pieces of news I would be most interestested in reflecting in
        the artwork. While there are many possible pieces I'd like to include I
        settled on three things to start -- money, food, and medical supplies. I
        decided to start with money. The stock market is EXTREAMLY volitile
        right now, which I think makes it a great subject for this type of
        responsive artwork. Thus, the first piece I've decided to create is a
        piece that responds to daily information about money. (I could of course
        make this hourly as well but I deicded generally to work with the idea
        of the sculpture changing once at noon every day -- I can adjust this
        later throughout the project if necessary). It is also important to note
        that I was VERY determined to mkae this project soley out of household
        items (with a little bit of arduino :) )
      </p>
      <h4>Initial Design</h4>
      <p>
        After drawing up a few different designs I decided one I liked is an
        accordian crumpling of a bill. I could later exapnd this to mutilple
        billls and sort of use the response as a bar graph (with the strech size
        of the bill being the maximum size on the bar.) For now I am working
        with a $1 bill in case I break it... but I'd like to use a fake $100
        dollar bill if its possible to get one of these days.
      </p>
      <h4>Video of Accordian Bill</h4>
      <img
        src="/images/accorvideo.gif"
        class="img-responsive margin"
        style="width: 100%;"
        alt="Image"
      />
      <h4>Circuit</h4>
      <img
        src="/images/moneycir.jpeg"
        class="img-responsive margin"
        style="width: 100%;"
        alt="Image"
      />
      <h4>Code</h4>
      <a href="/code/money.ino" download>Download Code</a>
      <p>
        Sourced and adjusted from
        https://www.instructables.com/id/Arduino-Servo-Motors/
      </p>
      <h4>Design Iteration</h4>
      <p>
        Although I liked this "accordian-type" bill, it wasn't quite that
        pretty. I ultimately wanted to create an art piece so I instead started
        to think of a different way of having the money contract and expand...
        what if instead it was like a flower? After playing around with many
        different designs and iterations -- and using absolutely whatever I
        could find around the house... I came up with the following design.
        Below I have described in detail how to create my money flowers.
      </p>
      <div id="rectangle"></div>
      <h4>Step-By-Step: How to Create a Money Flower</h4>
      <h5>Materials for a Money Flower</h5>
      <ul>
        <li>A large circular key ring</li>
        <li>
          4 safety pins with holes large enough to allow them to slide onto the
          key ring
        </li>
        <li>4 bobby pins</li>
        <li>
          Wire or string the size of the hole at the top of the safety pins (see
          below for detail)
        </li>
        <li>
          A large paperclip.
        </li>
        <li>
          Lots of hot glue, tap or some other fasteners.
        </li>
        <li>
          A willingness to replace any of the above items with whatever you can
          find in your house.
        </li>
      </ul>
      <h5>Step 1:</h5>
      <p>
        Bend each of the bobby pins to a right angle. Use clippers, scissor a
        saw or anything that cuts to trim the wavy part of the bobby pins at the
        first wave. Repeat for all four bobby pins.
      </p>
      <img
        src="/images/bobbypins.jpeg"
        class="img-responsive margin"
        style="width: 100%;"
        alt="Image"
      />
      <h5>Step 2:</h5>
      <p>
        Open and bend each of the safety pins to extend just beyond a right
        angle.
      </p>
      <img
        src="/images/safteypins.jpeg"
        class="img-responsive margin"
        style="width: 100%;"
        alt="Image"
      />
      <h5>Step 3:</h5>
      <p>
        Place down a layer of clear duct tape (sticky side up!) And place the
        long part of the bobby pins along the tape with the short end pointing
        upwards. (note extra bobby pins are pictured here as I was making more
        than one flower.)
      </p>
      <img
        src="/images/pinline.jpeg"
        class="img-responsive margin"
        style="width: 100%;"
        alt="Image"
      />
      <h5>Step 4:</h5>
      <p>
        Place the pointed end of the saftey pin along the bobby pin. Press
        against the sticky tape to ensure it remains upright. Then, use hot glue
        at the connection site to ensure a secure bond.
      </p>
      <img
        src="/images/pinandbobby1.jpeg"
        class="img-responsive margin"
        style="width: 100%;"
        alt="Image"
      />
      <img
        src="/images/pinandbobby2.jpeg"
        class="img-responsive margin"
        style="width: 100%;"
        alt="Image"
      />
      <h5>Step 5:</h5>
      <p>
        Allow the glue to completely dry and set, lift the bobbypin-safetypin
        joint off the tape and put more hot glue on the other side of the
        connection. Again allow to dry and set completely.
      </p>
      <img
        src="/images/pinandbobby3.jpeg"
        class="img-responsive margin"
        style="width: 100%;"
        alt="Image"
      />
      <img
        src="/images/pinandbobby4.jpeg"
        class="img-responsive margin"
        style="width: 100%;"
        alt="Image"
      />
      <h5>Step 6:</h5>
      <p>
        Take the metal keyring and bend the secondary half dowards, ensure that
        there is still one fully connected circle after your adjustments.
      </p>
      <img
        src="/images/ring1.jpeg"
        class="img-responsive margin"
        style="width: 100%;"
        alt="Image"
      />
      <img
        src="/images/ring2.jpeg"
        class="img-responsive margin"
        style="width: 100%;"
        alt="Image"
      />
      <h5>Step 7:</h5>
      <p>
        Slide the bobby pins onto the key ring, with the safety pin head facing
        inwards and the bobby pin pointing head, pointing away from the
        stretched part of the key ring.
      </p>
      <img
        src="/images/ringwithpins.jpeg"
        class="img-responsive margin"
        style="width: 100%;"
        alt="Image"
      />
      <h5>Step 8:</h5>
      <p>
        Thread a piece of thick string or thin wire through the small hot in the
        head of the four safety pins, and hot glue the ends of it together to
        form a circle.
      </p>
      <img
        src="/images/wirecir.jpeg"
        class="img-responsive margin"
        style="width: 100%;"
        alt="Image"
      />
      <h5>Step 9:</h5>
      <p>
        Take a paper clip and completely unbend it. Wrap one end of the
        clip-wire tightgy around the string/wire connecting the heads of the
        four safetypins.
      </p>
      <img
        src="/images/paperclip1.jpeg"
        class="img-responsive margin"
        style="width: 100%;"
        alt="Image"
      />
      <img
        src="/images/paperclip2.jpeg"
        class="img-responsive margin"
        style="width: 100%;"
        alt="Image"
      />
      <img
        src="/images/paperclip3.jpeg"
        class="img-responsive margin"
        style="width: 100%;"
        alt="Image"
      />
      <p>
        You should now be able to push the paper clip up and down to "open and
        close" the bobby pins. The mechanics of your flower are complete!
      </p>
      <img
        src="/images/mechanicsopenclose.gif"
        class="img-responsive margin"
        style="width: 100%;"
        alt="Image"
      />
      <h4>Assembly of My Money Bouquet</h4>
      <p>
        To assemble the money bouquet, I twisted the bottom of the paperclip
        wire, and looped it through one of the holes on the white spinning blade
        of a servo motor. I then taped the flower onto the side of a vase and
        tested the motor. Only after testing the mechanics I attached the money!
        I repeated this for each of the flowers I wanted to use. Here's a few
        pictures of the process...
      </p>
      <img
        src="/images/assemble0.jpeg"
        class="img-responsive margin"
        style="width: 100%;"
        alt="Image"
      />
      <img
        src="/images/assemble1.jpeg"
        class="img-responsive margin"
        style="width: 100%;"
        alt="Image"
      />
      <img
        src="/images/assemble2.jpeg"
        class="img-responsive margin"
        style="width: 100%;"
        alt="Image"
      />
      <img
        src="/images/assemble3.jpeg"
        class="img-responsive margin"
        style="width: 100%;"
        alt="Image"
      />
      <img
        src="/images/assemble4.jpeg"
        class="img-responsive margin"
        style="width: 100%;"
        alt="Image"
      />
      <img
        src="/images/assemble.gif"
        class="img-responsive margin"
        style="width: 100%;"
        alt="Image"
      />
    </div>
    <h4>Wiring of My Money Bouquet</h4>
    <p>
      I did test each motor individually before wiring them all together (for
      the code to test an individual motor see the code from my initial
      accordian design). Here is the circuit and code for hooking up all three
      motors under individual pins to the itsy bitsy.
    </p>
    <p>Circuit</p>
    <img
      src="/images/moneymotorcir.jpeg"
      class="img-responsive margin"
      style="width: 100%;"
      alt="Image"
    />
    <p>Code</p>
    <a href="/code/currency.ino" download>Download Code</a>
    <h4>Final Video</h4>
    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/d4EcA8r9Bhg"
      frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>

    <h4>An Additional Afternote--Implementing this Project with an API</h4>
    <p>
      It occurred to me that this project is very akin to using an API get the
      currency data. While I chose not to do this -- as I wanted to use a much
      more accurate monthly updated trade ratio for my baseline -- so it did not
      make sense to have something running to request once a month, if you
      should like to implement this based off currency ratios instead, I have
      included some sample code with a popular API below. Cheers!
    </p>
    <h4>Same Project, but with an API as the source for the data</h4>
    <p>Code</p>
    <a href="/code/currency_withapi.ino" download>Download Code</a>
    <p>Adjusted circuit for new code</p>
    <p>
      The circuit is the same as previously except you need to move the motor
      pins to new pins on the Huzzah. See code for which pins go with each
      motor.
    </p>
    <script
      src="https://unpkg.com/react@16/umd/react.development.js"
      crossorigin
    ></script>
    <script
      src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"
      crossorigin
    ></script>
    <!--Load React components -->
    <script src="scripts/fullpage.js"></script>
  </body>
</html>
